
/* ===Common styles=== */
/* *{
    margin: 0;
    padding: 0;
} */



/* ====Banner part start==== */
.banner{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url('../images/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.banner-text{
    color: #FFFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.banner-title{
    color: #FFFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin: auto;

}

.banner-item{
    padding: 150px 344px;
}

/* ====Discount part start==== */

.discount{
    font-family: Inter;
    font-size: 88px;
    color: #F00;
    font-weight: 700;
    text-align: center;
}

.holiday{
    font-family: Inter;
    font-size: 24px;
    color: #F00;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
}

.categories{
    font-family: Inter;
    font-size: 48px;
    color: #070211;
    font-weight: 700;
    text-align: center;
    margin-top: -30px;
}

.new-year-photo{
    text-align: center;
    margin-top: 48px;
}

.text-item{
    margin-top: 120px;
}
